body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
.header {
    background-color: #0073e6;
    color: white;
    padding: 1rem;
    text-align: center;
}
.container {
    padding: 2rem;
    text-align: center;
}
.logout-button {
    background-color: #dc3545;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.logout-button:hover {
    background-color: #c82333;
}
#cencel{
    background-color: #0073e6;
    margin-right: 10px;
}